body {
  margin: 1rem;
  font: 1rem/1.5 sans-serif;
}

a {
  text-decoration: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
}
