
<!DOCTYPE html>
<html lang='pt-BR'>
<head>
  {% if section.title %}
    <title>{{ section.title }}</title>
  {% elif page.title %}
    <title>{{ page.title }}</title>
  {% endif %}
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  {% if section.description %}
    <meta name='description' content='{{ section.description }}'>
  {% elif page.description %}
    <meta name='description' content='{{ page.description }}'>
  {% endif %}
  <link rel='favicon' sizes='any' type='image/png' href='/favicon.png'>
  <link rel='stylesheet' href='/main.css'>
</head>
<body>
  {% if section.content %}
    {{ section.content | safe }}
  {% elif page.content %}
    {{ page.content | safe }}
  {% endif %}
</body>
